<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

            <title>{% block title %}{% endblock title %} - WireGuard Custodian</title>
            <meta property="og:url" content="https://wgc.estada.ch" />
            <meta property="og:title" content="WireGuard Custodian - wgc.estada.ch" />
            <meta property="og:site_name" content="Landing Page for remote Events" />
            <meta property="og:description" content="Landing Page for remote Events" />
            <meta property="og:image" content="/static/favicon.png" />
            <meta property="og:locale" content="en_CH" />

            <link rel="icon" href="/static/favicon.png" type="image/png" />
            <!-- Chrome, Firefox OS, Opera and Vivaldi -->
            <meta name="theme-color" content="#ff2727">
            <!-- Windows Phone -->
            <meta name="msapplication-navbutton-color" content="#ff2727">
            <!-- iOS Safari -->
            <meta name="apple-mobile-web-app-status-bar-style" content="#ff2727">
            <meta name="msapplication-TileColor" content="#ff2727">

            <link href="/static/reset.css" rel="stylesheet" />
            <link href="/static/style.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div id="logo">
                <a href="/"> <img src="/static/favicon.svg" loading="lazy" alt="logo" /> </a>
                <a href="/"> <strong>WireGuard Custodian</strong> </a>
                <a href="/"> <sub>wgc.estada.ch</sub> </a>
            </div>
            <menu>
                {% if user.authenticated %}
                <a href="/request/ip">Request IP</a>
                <a href="/request/prefix">Request /64 prefix</a>
                <a href="/me/set-own-key">Set your Key</a>
                <a href="/me">Your profile</a>
                {% endif %}
            </menu>
            <div id="user-icon">
            {% if user.authenticated %}
                <a href="/me/logout">Logout ({{ user.userkey }})</a>
            {% else %}
                <form method="post" action="/me/login" autocomplete="off">
                    <label>Userkey: <input type="text" autocomplete="off" name="userkey" spellcheck="false"{% if userkey %} value="{{ userkey }}"{% endif %} /></label>
                    <input type="submit" value="Login" />
                </form>
            {% endif %}
            </div>
        </header>
        <section class="main">
            {% block body %}{% endblock %}
        </section>
    </body>
</html>
