{% extends "base.html" %}

{% block title %}Welcome{% endblock title %}

{% block body %}
    <h1>WireGuard Custodian</h1>
    <p>
        This project controls a central wireguard instance.
        It enables people with a valid key to join the network and request an IPv6 address and a /64 prefix.
    </p>
    <p>
        In the future users can select whether or not they would like to accept incoming traffic.
    </p>
    <p>
        Default: E0mtR1C23MxAbtOtiQ3JqMEJov2fVyGnXLrCtewYnkM=
    </p>
{% endblock %}
