{% extends "base.html" %}

{% block title %}You Profile{% endblock title %}

{% block body %}
    <h1>Profile of {{ user.userkey }}</h1>
    <p>
        Assigned IPs:
    </p>
    <ul>
    {% for ip in ips %}
        <li>{{ip}}</li>
    {% else %}
        No IPs.  
    {% endfor %}
    </ul>
    <p>
        Assigned Prefixes:
    </p>
    <ul>
    {% for prefix in prefixes %}
        <li>{{prefix}}</li>
    {% else %}
        No Prefixes.  
    {% endfor %}
    </ul>
{% endblock %}
