{% extends "base.html" %}

{% block title %}You Profile{% endblock title %}

{% block body %}
    <h1>Request {{ type }}</h1>
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
    <div>
        <form method="post" action="/request/{{ target }}">
            <label>Address: 
                <input type="text" name="address" minlength="4" spellcheck="false" autofocus="autofocus" required="required"{% if address %} value="{{ address }}"{% endif %} />
            </label>
            <input type="submit" value="Request {{ type }}" />
        </form>
    </div>
{% endblock %}
