{% extends "base.html" %}

{% block title %}You Profile{% endblock title %}

{% block body %}
    <h1>Sign in first</h1>
    <p>
        <form method="post" action="/me/login?next={{ next }}" autocomplete="off">
            <label>Userkey: <input type="text" autocomplete="off" name="userkey" autofocus="autofocus" spellcheck="false"{% if userkey %} value="{{ userkey }}"{% endif %} /></label>
            <input type="submit" value="Login" />
        </form>
    </p>
{% endblock %}
